{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<section class="add-resume section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="add-resume-inner box">
                        <div class="post-header align-items-center justify-content-center">
                            <h3>Basic information</h3>
                        </div>
                        <form class="form-ad" action="{% url 'edit_profile' %}" method="POST">
                            {% csrf_token %}
                          <div class="row">

                                     <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Choose Profile Picture </label>
                                        <input type="file" class="form-control">
                                        <label for="username" class="control-label">User Name</label>
                                         <input type="text" class="form-control" name="username" id="username" readonly>
                                    </div>
                                </div> 
                                <div class="col-lg-4 col-12 align-items-end justify-content-end">
                                    <div class="form-group justify-content-end">
                                       <div class="justify-content-end">
                                        <img src="{{userprofile.profile_picture.url}}" class="rounded mx-auto d-block border border-dark" alt="Logo" width="100px"/>        
                                            </div>
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        {{ user_form.first_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        {{ user_form.last_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        {{ user_form.email }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label for="profession_title" class="control-label">Profession Title</label>
                                        <input type="text" class="form-control"
                                            placeholder="Headline (e.g. Front-end developer)" name="profession_title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date_of_birth" class="control-label">Date of Birth</label>
                                     <input type="date" class="form-control" name="date_of_birth" id="date_of_birth">
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label for="current_address" class="control-label">Current Address</label>
                                        <input type="text" class="form-control" placeholder="Current Address" name="current_address" id="current_address">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label for="permanent_address" class="control-label">Permenent Address</label>
                                        <input type="text" class="form-control" placeholder="Permenent Address" name="permanent_address" id="permanent_address">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label for="gender" class="control-label">Gender</label>
                                        <select id="gender" class="form-control">
                                            <option selected>--Select--</option>
                                         <option>Male</option>
                                         <option>Female</option>
                                         <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label for="phone_number" class="control-label">Contact Number</label>
                                        <input type="text" class="form-control" placeholder="Contact Number" name="phone_number" id="phone_number">
                                    </div>
                                </div>
                            </div>
                             
                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="btn btn-primary btn">Save</button>

                                </div>
                            </div>                     
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}