{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Job List {% endblock %}
{% block content %}
    {% include "layouts/breadcrumb.html" %}
    <section class="find-job job-list section">
       <form action="{% url 'search' %}" method="GET">
         <div class="search-job">
            <div class="container">
                <div class="search-nner">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-xs-12">
                            <input type="text" class="form-control" placeholder="Keyword: Name, Tag" name="keyword">
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12">
                            <input type="text" class="form-control" placeholder="Location: City, State, Zip"name="location">
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 button">
                            <button type="submit" class="btn btn-common float-right">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </form>
        <div class="container">
            <div class="single-head">
                {% include "layouts/alerts.html" %}
                <div class="row">
                    {% if jobs %}
                    {% for job in jobs %}
                    <div class="col-lg-6 col-12">
                        <!-- Single Job -->
                        <div class="single-job">
                            <div class="job-image">
                                <img src="assets/images/jobs/img1.png" alt="#">
                            </div>
                            <div class="job-content">
                                <h4><a href="{{ job.get_url }}">{{ job.job_title }}</a></h4>
                                <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                    week. All leads are pre-scheduled. </p>
                                <ul>
                                    <li><a href="#">{{ job.company_website }}</a></li>
                                    <li>Rs. {{ job.salary }}</li>
                                    <li><i class="lni lni-map-marker"></i>{{ job.company_location }}</li>
                                </ul>
                            </div>
                            <div class="job-button">
                                <ul>
                                    <li><a href="{{ job.get_url }}">Apply</a></li>
                                    <li><span>{{ job.job_type }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Job -->
                        <!-- Single Job -->
                       
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- Pagination -->
                <div class="row">
                    {% if jobs.has_other_pages %}
                    <div class="col-12">
                        <div class="pagination center">
                            <ul class="pagination-list">
                                {% if jobs.has_previous %}
                                <li><a href="?page={{jobs.previous_page_number}}"><i class="lni lni-arrow-left"></i></a></li>
                                {% else %}
                                <li class="disabled"><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                {% endif %}
                                {% for i in jobs.paginator.page_range %}
                                {% if jobs.number == i %}
                                <li class="active"><a href="#">{{i}}</a></li>
                                {% else %}
                                <li><a href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if jobs.has_next %}
                                <li><a href="?page={{products.next_page_number}}"><i class="lni lni-arrow-right"></i></a></li>
                                {% else %}
                                <li class="disabled"><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!--/ End Pagination -->
            </div>
        </div>
    </section>
    <!-- /End Find Job Area -->
{% endblock %}