{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Manage Job {% endblock %}
{% block content %}
 <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Dashboard</h1>
                        <p>Hello {{ user.full_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->    
      <div class="manage-jobs section">
        <div class="container">
            <div class="alerts-inner">
                <div class="row">
                 {% include "layouts/sidebars.html" %}
                    <div class="col-lg-8 col-12">
                        <div class="job-items">
                            {% if my_job %}
                            <div class="manage-list">
                                {% include "layouts/alerts.html" %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <p>Name</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <p>Contract Type</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <p>Deadline</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <p>Action</p>
                                    </div>
                                </div>
                            </div>
                            {% for job in my_job %}
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <h3>{{ job.job_title }}</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <p><span class="time">{{ job.job_type }}</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <p><span class="time">{{ job.application_deadline }}</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center">
                                        <a href="{% url 'editJob' job.id %}"><i class=" btn- lni lni-pencil m-2" style="font-size: 24px;"></i></a>
                                        {% if request.user == job.user or request.user.is_superuser %}
                                                <form action="{% url 'deleteJob' job.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this job?');">
                                                     {% csrf_token %}
                                                     <a href="{% url 'deleteJob' job.id %}" onsubmit="return confirm('Are you sure you want to delete this job?');"><i class="btn- lni lni-trash" type="submit" style="font-size: 24px;"></i></a>
                                                    </form>
                                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-12 col-md-12 col-12 text-center">
                                        <h3>Job Not Found</h3>
                                    </div>
                                    </div>
                            {% endif %}
                        </div>
                        <!-- Pagination -->
                       {% if jobs.has_other_pages %}
                    <div class="col-12">
                        <div class="pagination center">
                            <ul class="pagination-list">
                                {% if jobs.has_previous %}
                                <li><a href="?page={{jobs.previous_page_number}}"><i class="lni lni-arrow-left"></i></a></li>
                                {% else %}
                                <li class="disabled"><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                {% endif %}
                                {% for i in jobs.paginator.page_range %}
                                {% if jobs.number == i %}
                                <li class="active"><a href="#">{{i}}</a></li>
                                {% else %}
                                <li><a href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if jobs.has_next %}
                                <li><a href="?page={{products.next_page_number}}"><i class="lni lni-arrow-right"></i></a></li>
                                {% else %}
                                <li class="disabled"><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}