{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Saved Job {% endblock %}
{% block content %}
    {% include "layouts/breadcrumb.html" %}
    <!-- Main Content Start -->
    <div class="bookmarked section">
        <div class="container">
            <div class="alerts-inner">
                <div class="row">
                    {% include "layouts/sidebars.html" %}
                    <!-- End Main Content -->
                    <div class="col-lg-8 col-12">
                        <div class="job-items">
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img">
                                            <div class="can-img">
                                                <img src="assets/images/jobs/manage-job1.png" alt="#">
                                            </div>
                                            <h3>Mechanical Engineer <span>Conzio construction</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time">Full-Time</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i> New Yourk, US</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="job-details.html" class="btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img">
                                            <div class="can-img">
                                                <img src="assets/images/jobs/manage-job2.png" alt="#">
                                            </div>
                                            <h3>Content Writing <span>Depan insider ltd.</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time">Part-Time</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i> Alaska</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="job-details.html" class="btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img">
                                            <div class="can-img">
                                                <img src="assets/images/jobs/manage-job3.png" alt="#">
                                            </div>
                                            <h3>Teacher - English <span>Eduon education</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time">Full-Time</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i> Florida</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="job-details.html" class="btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img">
                                            <div class="can-img">
                                                <img src="assets/images/jobs/manage-job4.png" alt="#">
                                            </div>
                                            <h3>Service Engineer <span>Autozon power ltd</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time">Part-Time</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i> California</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="job-details.html" class="btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img">
                                            <div class="can-img">
                                                <img src="assets/images/jobs/manage-job5.png" alt="#">
                                            </div>
                                            <h3>Support Executive <span>Saspol limited</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time">Full-Time</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i> New Yourk, US</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="job-details.html" class="btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img">
                                            <div class="can-img">
                                                <img src="assets/images/jobs/manage-job6.png" alt="#">
                                            </div>
                                            <h3>Research Assistant <span>Medq medical</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time">Full-Time</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i> New Yourk, US</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="job-details.html" class="btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="pagination left pagination-md-center">
                            <ul class="pagination-list">
                                <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content end -->

{% endblock %}