{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block content %}
       <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Dashboard</h1>
                        <p>Hello {{ user.full_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

   <div class="resume section">
        <div class="container">
            <div class="resume-inner">
                <div class="row">
                   {% include "layouts/sidebars.html" %}
                    <div class="col-lg-8 col-12">
                        <div class="inner-content">
                            {% include "layouts/alerts.html" %}
                           <div class="container">
                                <div class="post-header align-items-center justify-content-center">
                            <h3>Change Password</h3>
                        </div>
                        <form class="form-ad" action="{% url 'changePassword' %}" method="POST">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-md-12 mt-3">
                                <label for="current_password" class="form-label">Current Password</label>
                                <input type="password" class="form-control" id="current_password" name="current_password">
                            </div>
                               <div class="col-md-12 mt-3">
                                <label for="password" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        <div class="col-md-12 mt-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        </div>
                        <div class="col text-center align-items-center mt-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
                        </div>
                            </div>                     
                        </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}